.fig-container {
    text-align: left;
    padding-top: 64px;
    background: rgb(184, 46, 44);
    height: calc(100vh - 154px);
    overflow: auto;
}

.font-options {
    display: flex;
    flex-direction: row;
    padding-left: 24px;
    padding-right: 24px;
    flex-wrap: wrap;
    align-items: center;
}

.font-option {
    padding-right: 24px;
}